<div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <h1 class="text-5xl py-10">Tarifs</h1>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 sm:items-center md:gap-8">
<!-- Start card-tarif BASIC -->
      <div
        class="card-tarifs group"
      >
        <div class="">
          <span class="bg-primary text-white text-md uppercase me-2 px-2.5 py-0.5 rounded-full group-hover:bg-white group-hover:text-primary">Basic</span>
          <p class="mt-2 sm:mt-4">
            <strong class="text-3xl font-bold text-gray-900 sm:text-4xl group-hover:text-white"> $15 </strong>
  
            <span class="text-3xl font-bold text-gray-900 group-hover:text-white">/mo</span>
          </p>
        </div>
  
        <ul class="mt-6 space-y-2 ">
          <li class="flex items-center gap-1">
            <span class="text-gray-700 group-hover:text-white"> Pour les indépendants. </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Accès aux outils essentiels </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Messagerie instantanée </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Stockage limité </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Support standard </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Accès mobile </span>
          </li>
        </ul>
        
        <div class="pt-10 gap-1">
        <a
          class="btn-tarifs border-primary"
        >
          Get Started
          <svg viewBox="0 0 24 24" fill="primary" class="size-6 text-primary" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      </a>
        </div>
      </div>
  <!-- Fin de card-tarifs BASIC -->
  <!-- Start card-tarif PRO -->
      <div class="card-tarifs group">
        <div class="">
          <span class="bg-primary text-white text-md uppercase me-2 px-2.5 py-0.5 rounded-full group-hover:bg-white group-hover:text-primary">Pro</span>
  
          <p class="mt-2 sm:mt-4">
            <strong class="text-3xl font-bold text-gray-900 sm:text-4xl group-hover:text-white"> $25 </strong>
  
            <span class="text-3xl font-bold text-gray-900 group-hover:text-white">/mo</span>
          </p>
        </div>
  
        <ul class="mt-6 space-y-2">
          <li class="flex items-center gap-1">
            <span class="text-gray-700 group-hover:text-white"> Pour les équipes en croissance </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Réunions vidéo HD </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Partage de fichiers illimité </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Intégrations avancées </span>
          </li>
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Sécurité renforcée </span>
          </li>
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Assistance prioritaire </span>
          </li>
        </ul>
        
        <div class="pt-10">
        <a
          href="#"
          class="btn-tarifs border-primary"
        >
          Get Started
          <svg viewBox="0 0 24 24" fill="primary" class="size-6 text-primary" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </a>
      </div>
      </div>
  <!-- Fin de card-tarifs PRO -->
  <!-- Start card-tarif ELITE -->
      <div class="card-tarifs group">
        <div class="">
          <span class="bg-primary text-white text-md uppercase me-2 px-2.5 py-0.5 rounded-full group-hover:bg-white group-hover:text-primary">Elite</span>
  
          <p class="mt-2 sm:mt-4">
            <strong class="text-3xl font-bold text-gray-900 sm:text-4xl group-hover:text-white"> $30 </strong>
  
            <span class="text-3xl font-bold text-gray-900 group-hover:text-white">/mo</span>
          </p>
        </div>
  
        <ul class="mt-6 space-y-2">
          <li class="flex items-center gap-1">

            <span class="text-gray-700 group-hover:text-white"> Expérience ultime </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Espaces personnalisables </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white"  width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Intelligence artificielle
            </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Collaboration avancée </span>
          </li>
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Accès VIP  </span>
          </li>
          <li class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary group-hover:text-white" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
  
            <span class="text-gray-700 group-hover:text-white"> Support 24/7  </span>
          </li>
        </ul>
        
        <div class="pt-10">
        <a
          href="#"
          class="btn-tarifs border-primary"
        >
          Get Started
          <svg viewBox="0 0 24 24" fill="primary" class="size-6 text-primary" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </a>
      </div>
      </div>
    </div>
  <!-- Fin de card-tarifs ELITE -->
</div>