<section class="mx-5 md:mx-5 lg:mx-10 max-w-screen-3xl px-4 py-8 h-70 mt-10 sm:px-6 sm:py-12 lg:px-8 lg:grid lg:h-150 lg:place-content-center rounded-lg bg-[url(https://media.gettyimages.com/id/1960116489/fr/photo/young-woman-sitting-at-balcony-and-using-laptop-at-home.webp?s=2048x2048&w=gi&k=20&c=UNZ2MO2ws9j5svkFToiE35NdD1u8ZlyfFZX-YoQzJa4=)] bg-cover bg-no-repeat bg-center p-8 rounded-lg">
    <div class="relative h-screen text-white overflow-hidden">
        <div class="relative pt-4 lg:z-10 flex flex-col justify-center items-center lg:h-full text-center">
          <h1 class="text-4xl lg:text-7xl font-bold leading-tight mb-4 tracking-tight">Travaillez<br> intelligemment,<br> collaborez partout</h1>
        </div>
    </div>
</section>




<section id="" class="mx-auto lg:max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-20">
  <div class="container w-full mx-auto">
    <h2 class="text-5xl">Pourquoi choisir WorkSphere ?</h2>
    <div class="cards flex flex-col lg:flex-row gap-8 pt-8">
      
        <div class="card">
          
            <div class="absolute inset-0 bg-[url(https://img.freepik.com/photos-gratuite/coup-moyen-femmes-lors-reunion-affaires_23-2148911752.jpg?ga=GA1.1.814407909.1742982940&semt=ais_hybrid&w=740)] bg-cover bg-center"></div>
          
            <div class="card-filter"></div>
            <div class="card-text">
                <h3 class="">Productivité maximale</h3>
                <p>Un espace de travail optimisé sans distraction.</p>
            </div>
        </div>
        <div class="card">
            <div class="absolute inset-0 bg-[url(https://img.freepik.com/photos-premium/jeunes-partenaires-commerciaux-faisant-poignee-main-dans-bureau-pendant-que-leur-equipe-travaille-arriere-plan_52137-34455.jpg?ga=GA1.1.814407909.1742982940&semt=ais_hybrid&w=740)] bg-cover bg-center"></div>
            <div class="card-filter"></div>
            <div class="card-text">
                <h3 class="">Collaboration facile</h3>
                <p>Des outils intuitifs pour travailler en équipe.</p>
            </div>
        </div>
        <div class="card">
            <div class="absolute inset-0 bg-[url(https://img.freepik.com/photos-gratuite/jeune-homme-ingenieur-faisant-analyses-programme_1303-20402.jpg?ga=GA1.1.814407909.1742982940&semt=ais_hybrid&w=740)] bg-cover bg-center"></div>
            <div class="card-filter"></div>
            <div class="card-text">
                <h3 class="">Sécurité garantie</h3>
                <p>Données protégées avec un chiffrement avancé.</p>
            </div>
        </div>
        <div class="card">
            <div class="absolute inset-0 bg-[url(https://img.freepik.com/photos-premium/vue-verticale-ordinateur-portable-isole-arriere-plan-flou-reflexions-ecran-pour-travail-ligne_549612-1107.jpg)] bg-cover bg-center"></div>
            <div class="card-filter"></div>
            <div class="card-text">
                <h3 class="">Accessibilité partout</h3>
                <p>Compatible avec tous vos appareils, sans limites.</p>
            </div>
        </div>
    </div>
  </div>
</section>



<section id="" class="section-essentials">
  <div class=" mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-20">
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-10 px-4 py-3 container w-full mx-auto">
            <div class="p-6">
              <h2 class="text-3xl md:text-4xl font-bold mb-4">Outils essentiels</h2>
              <p class="max-w-3xl mx-auto">
                Des fonctionnalités conçues pour améliorer votre efficacité et simplifier
                votre quotidien. Profitez d'un espace de travail optimisé pour mieux organiser
                vos tâches et collaborer sans effort.
              </p>
            </div>
    
              <div class="cursor-pointer group card-essentials">
                <div class="">01</div>
                <h3 class="">Agenda intelligent</h3>
                <p class="">
                  Planifiez vos tâches, réunions et rappels en quelques secondes grâce
                  à une interface claire et intuitive.
                </p>
              </div>
    
              <div class="cursor-pointer group  card-essentials">
                <div class="">02</div>
                <h3 class="">Tableaux de bord</h3>
                <p class="">
                  Visualisez l'évolution de vos projets avec des graphiques et statistiques
                  détaillés.
                </p>
              </div>
    
              <div class="cursor-pointer group card-essentials">
                <div>03</div>
                <h3>Partage facile</h3>
                <p>
                  Partagez rapidement vos fichiers en toute sécurité et travaillez en équipe
                  sur des documents partagés.
                </p>
              </div>
    
              <div class="cursor-pointer group card-essentials">
                <div class="">04</div>
                <h3 class="">Communication fluide</h3>
                <p class="">
                  Discutez avec vos collègues en temps réel via chat, messagerie et appels
                  vidéo haute qualité.
                </p>
              </div>
    
              <div class="cursor-pointer group card-essentials">
                <div class="">05</div>
                <h3 class="">Outils de productivité</h3>
                <p class="">
                  Connectez facilement vos applications préférées pour un flux
                  de travail optimisé et sans interruptions.
                </p>
              </div>
            </div>
    </div>
</section>